@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .my-block {
        @apply shadow-basic rounded-xl p-2
    }
    .red-btn {
        @apply bg-button-red text-button-red-text
    }
    .violet-btn {
        @apply bg-button-violet text-button-violet-text
    }
    .white-btn {
        @apply bg-button-white text-button-white-text
    }
}

.light {
    --background: 249, 249, 249;
    --background-block: 255, 255, 255;

    /* Buttons */
    --violet-button: 119, 93, 166;
    --violet-button-text: 255, 255, 255;

    --red-button: 215, 81, 81;
    --red-button-text: 255, 255, 255;

    --white-button: 255, 255, 255;
    --white-button-text: 32, 32, 32;

    --main-select: 209, 205, 217;
    --primary-row: 255, 255, 255;
    --secondary-row: 240, 240, 243;
    --text-primary: 83, 83, 83;

    --scrollbar-track: rgba(119, 93, 166);
    --scrollbar-thumb: rgba(119, 93, 166);
    --scrollbar-thumb-hover: rgba(119, 93, 166);
}

.dark {
    --background: 130, 130, 130;
    --background-block: 83, 83, 83;

    /* Buttons */
    --violet-button: 119, 93, 166;
    --violet-button-text: 255, 255, 255;

    --red-button: 119, 93, 166;
    --red-button-text: 255, 255, 255;

    --white-button: 119, 93, 166;
    --white-button-text: 255, 255, 255;

    --main-select: 209, 205, 217;
    --primary-row: 255, 255, 255;
    --secondary-row: 240, 240, 243;
    --text-primary: 246, 222, 222;

    --scrollbar-track: rgb(212, 206, 223);
    --scrollbar-thumb: rgb(183, 157, 228);
    --scrollbar-thumb-hover: rgb(212, 206, 223);
}

:root {

}

/* Скролбар */

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #A464BC #E9E1EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #E9E1EB;
    border: 2px solid transparent;
    overflow: hidden;
    background-clip: content-box;
}

*::-webkit-scrollbar-track:hover {
    background-color: #E9E1EB;
}

*::-webkit-scrollbar-track:active {
    background-color: #E9E1EB;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb);
}
